# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\put-goods\put-goods-client\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
